@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

body {
  background-color: rgb(15, 15, 15);
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background: #434343;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}
/*Intersection observer settings*/
.observedNav {
  opacity: 0;
  transition: all 2s;
}

.observedImage {
  opacity: 0;
  filter: blur(25px);
  transform: translateX(-110%);
  transition: all 1.5s ease;
}

.observedElement {
  opacity: 0;
  filter: blur(15px);
  transition: all 2s ease-in-out;
}

.transition-quick1 {
  transition: all 1s ease 0.5s;
}

.transition-quick2 {
  transition: all 1s ease 0.8s;
}

.transition-delay1 {
  transition: all 0.5s ease-in-out 2s;
}

.transition-delay2 {
  transition: all 0.8s ease-in-out 2s;
}

.observedImage:nth-child(2n + 1) {
  transition-delay: 1s;
}

.observedImage:nth-child(2n + 2) {
  transition-delay: 0.55s;
}

.showImage {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

nav.showNav {
  opacity: 1;
}

.showElement {
  opacity: 1;
  filter: blur(0);
}
/* index.html & gallery.html CSS comienza*/

.gallery {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -115px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.stickyDiv {
  height: 79px;
  background-color: rgb(15, 15, 15);
}

.index {
  background-image: url("../images/profile/03guy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  min-height: 90vh;
}

.index h2 {
  font-size: 32px;
}

.index__paragraph {
  background-color: none;
  padding: 15%;
}

.gallery__container {
  background-color: rgb(15, 15, 15);
  width: 95%;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: 285px;
  grid-auto-rows: max(285px);
}

.gallery-img {
  transition: 0.8s;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

.gallery-img__container {
  overflow: hidden;
}

.gallery-img:hover {
  cursor: pointer;
  position: relative;
  transform: scale(1.1);
  filter: grayscale(0%);
  z-index: 0;
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}

.img9 {
  grid-area: img9;
}
/*gallery-retratos.html CSS comienza*/
.gallery-retratos {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -115px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 15vw;
}
.gallery-container-retratos {
  background-color: rgba(0, 0, 0, 0.25);
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(9, 235px);
  grid-template-columns: 290px;
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9";
  text-align: center;
  justify-content: center;
  gap: 30px;
}
/*gallery-retratos.html CSS termina. */

.footer,
.footer-contact {
  text-align: center;
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
/* index.html & gallery.html CSS termina*/

/* header CSS comienza*/

header {
  margin: auto;
  width: 100%;
  font-family: "Abel", sans-serif;
  color: #f8fafc;
  position: fixed;
  z-index: 7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgb(15, 15, 15);
  height: 12vh;
}
nav ul:last-child {
  display: flex;
}

.menu2 li a {
  padding: 10px;
  font-weight: bold;
  color: #f8fafc;
  font-size: 14px;
}

.menu2 li ul li a {
  background-color: rgb(15, 15, 15);
  color: #f8fafc;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.menu2 > li {
  float: left;
}

.menu2 > li > ul {
  display: none;
  position: absolute;
  min-width: 120px;
}

.menu2 > li a:hover {
  color: rgb(251, 229, 152);
}

.menu2 > li:hover > ul {
  display: block;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* header CSS termina*/
/* estilos para footer comienza  */
.footer {
  flex-direction: column;
  padding-bottom: 1em;
  width: 90%;
  margin: 0px auto;
}

.footer-contact {
  width: 100%;
}

.footer-data {
  display: none;
  font-size: 1em;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  column-gap: 30px;
}

.socials__anchor {
  text-decoration: none;
  color: white;
}
/* estilos para footer termina */

/* estilos para el main del index.html empieza */

.titulo {
  color: #f8fafc;
  padding: 3vh 5vw;
  display: block;
}

.titulo h3 {
  margin: 0 auto;
  letter-spacing: 8px;
}

h1 {
  margin-bottom: 5vh;
}

.portada {
  text-align: center;
}

.fotoportada img{
width: 100%;
}
/* estilos para el main del index.html termina */

/* estilos para acerca de comienza */

.contenedor_biografia {
  background-color: rgb(15, 15, 15);
  color: #f8fafc;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: 0px auto;
  padding: 40px 0px;
}

.texto_biografia h1 {
  margin-bottom: 6vh;
}

.parrafo_bio {
  margin-left: 0px;
  grid-template-columns: minmax(150px, auto);
  max-width: 535px;
}

.parrafo_bio ul li {
  list-style-type: square;
}

.parrafo_bio h2,
.parrafo_bio p {
  padding: 15px 0px;
}

.parrafo_bio p,
.parrafo_bio ul li {
  margin-left: 5vw;
}

.clientes p {
  margin-left: 5vw;
}

.img_biografia {
  text-align: center;
  padding: 8vh 1vw 2vh;
}
.img_biografia img{
  width: 100%;
}

.clientes {
  margin-top: 5vh;
  text-align: start;
}
.clientes > p {
  padding: 1vw 12vw 1vw 0vw;
}

.contenedor_biografia .clientes_logos {
  align-self: end;
  text-align: justify;
  padding-bottom: 8vh;
}
/* estilos para acercade.html termina */

/* estilos para contacto.html empieza*/
.contacto {
  margin-bottom: 80px;
}

.contenedor_contacto {
  background-color: rgb(15, 15, 15);
  color: #f8fafc;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-gap: 20px;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-left: 4vw;
}

.datos_usuario {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: repeat(2,100px) 80px 200px 70px;
  grid-gap: 5px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.datos_usuario .datos_usuario2 {
  grid-column-start: 2;
  border: 0;
  border-bottom: solid, 1px;
  border-color: #f8fafc;
}
.datos_usuario .datos_usuario7 {
  grid-column: span 2;
}

.datos_usuario .datos_usuario8 {
  text-align: start;
}

textarea {
  background-color: rgb(15, 15, 15);
  color: #f8fafc;
  text-decoration: none;
}

textarea.comentarios2 {
  display: none;
}

label:hover {
  color: rgb(251, 229, 152);
}

input[type="submit"] {
  width: 15vw;
  margin-bottom: 10px;
  background-color: rgb(15, 15, 15);
  border-color: #f8fafc;
  border-radius: 5px;
  color: #f8fafc;
  padding: 15px;
  min-width: 113px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  /* border: 0; */
  height: 30px;
  margin: 15px 0px;
  box-sizing: border-box;
  background-color: rgb(15, 15, 15);
  color: #f8fafc;
  text-decoration: none;
}

input[type="submit"]:hover {
  color: rgb(251, 229, 152);
  border-color: rgb(251, 229, 152);
}
/* estilos para contacto.html termina*/

/* estilos para gallery empieza*/
.modal__container {
  position: fixed;
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.modal__container.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
}

.modal__container.active::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 9;
}

.modal__container img {
  width: 300px;
  height: 300px;
  z-index: 10;
}
/* estilos para gallery termina*/

/* estilos para footer comienza*/

.copyright p {
  font-size: 10px;
}

.btn-anchor {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #4b4b75;
  color: white;
  border-radius: 5px;
  line-height: 1.8;
}

.newsletter p {
  margin: 5px 0px 10px;
  padding : 5px 0px;
}

/* .datos_usuario div input {

/*MEDIA QUERIES*/
@media (prefers-reduced-motion) {
  .observedImage,
  .observedNav {
    transition: none;
  }
}

@media (min-width: 576px) {
  .footer-data {
    display: block;
  }
  .menu2 > li {
    padding: 0px 15px;
  }
  .gallery__container {
    grid-template-columns: 315px;
  }
  .modal__container img {
    width: 540px;
    height: 500px;
  }

  .contenedor_biografia {
    width: 100%;
    margin-left: auto;
    padding: 80px 6vw;
  }
  .img_biografia {
    text-align: center;
    padding: 8vh 1vw 2vh;
  }

  .contacto {
    margin-bottom: 40px;
  }

  .datos_usuario {
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat (5, 1fr);
    justify-items: start;
  }
}

@media (min-width: 768px) {
  .fotoportada {
    width: 75%;
    margin: 0px auto;
  }
  .menu2 > li {
    padding: 0px 25px;
  }
  .gallery__container {
    grid-template-columns: repeat(2, 360px);
  }
  .modal__container img {
    width: 710px;
    height: 550px;
  }
  .gallery-container-retratos {
    grid-template-rows: repeat(11, 235px);
    grid-template-columns: repeat(2, 360px);
    grid-template-areas:
      "img1 img2"
      "img3 img3"
      "img3 img3"
      "img3 img3"
      "img4 img6"
      "img5 img5"
      "img5 img5"
      "img7 img8"
      "img9 img9"
      "img9 img9"
      "img9 img9";
  }

  .contenedor_biografia {
    grid-template-columns: 60% 40%;
  }

  .contenedor_contacto {
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    padding: 5vw;
  }
}  

@media (min-width: 992px) {
  .menu2 li a {
    font-size: 20px;
  }
  .portada {
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 45%;
  }
  .fotoportada {
    margin: 0;
    width: 45%;
  }
  .fotoportada img{
    width: 100%;
    }
}

@media (min-width: 1200px) {
  textarea.comentarios {
    display: none;
  }
  textarea.comentarios2 {
    display: block;
  }
  .parrafo_bio h2 {
    padding: 5vh 5vw 0;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"] {
    margin: 15px;
  }

  .menu2 > li {
    float: left;
  }
  .gallery {
    padding: 50px;
  }
  .gallery-img {
    object-fit: cover;
  }
  .gallery__container {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: fit-content(400px);
  }
  .modal__container img {
    width: 1100px;
    height: 600px;
  }
  .gallery-retratos {
    padding: 50px 8vw;
  }
  .gallery-container-retratos {
    grid-template-rows: repeat(5, 180px);
    grid-template-columns: repeat(5, 233px);
    grid-template-areas:
      "img1 img1 img2 img3 img3"
      "img1 img1 img2 img3 img3"
      "img4 img4 img5 img3 img3"
      "img4 img4 img8 img8 img9"
      "img6 img7 img8 img8 img9";
    gap: 25px;
  }
}

@media (min-width: 1980px) {
  .menu2 li a {
    font-size: 30px;
  }
}