@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

/* index.html & gallery.html CSS comienza*/

.gallery {
    background-color: rgb(15, 15, 15);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -115px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.stickyDiv {
  height: 107px;
  background-color: black;
}

.index {
    background-image: url('../images/profile/03guy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 90vh;
}

.index h2 {
    font-size: 32px;
}
    
.index__paragraph {
    background-color: none;
    padding: 15%;
}

.gallery-container {
    background-color:rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 15vh);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "img1 img1 img2 img2 img3"
    "img1 img1 img2 img2 img9"
    "img1 img1 img4 img8 img9"
    "img5 img5 img6 img6 img7"
    "img5 img5 img6 img6 img7"
    ;
    gap: 30px;
}

.gallery-img {
    transition: 0.8s;
    filter: grayscale(100%);
}

.gallery-img:hover{
    cursor: pointer;
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    filter: grayscale(0%)
    }
    
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}
.img5 {
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}
.img7 {
    grid-area: img7;
}
.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

.footer, .nav {
    text-align: center;
    background-color:rgb(15, 15, 15);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer-data {
    font-size: 1.5em;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    column-gap: 30px;
}

.socials__anchor {
    text-decoration: none;
    color: white;
}
/* index.html & gallery.html CSS termina*/

/* header CSS comienza*/

body {
    background-color: rgb(15, 15, 15);;
  }
  
  header {
    margin:auto;
    width:100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f8fafc;
    position: fixed;
    z-index: 20;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(15, 15, 15);
    height: 12vh;
  }
  nav ul:last-child {
    display: flex;
  }
  
  .menu2 li a {
    padding: 10px;
    font-weight: bold;
    color: #f8fafc;
  }
  
  .menu2 li ul li a {
    background-color: rgb(15, 15, 15);
    color: #f8fafc;
    text-decoration: none;
    display: block;
    padding: 20px;
  }
  
  .menu2 > li {
   float: left;
   padding: 25px;
  }
  
  .menu2 > li > ul  {
    display: none;
    position: absolute;
    min-width: 120px;
  }
  
  .menu2 > li a:hover  {
    color:rgb(251, 229, 152);
  }
  
  .menu2 > li:hover > ul {
    display:block;
   }
  
  
  li {
    list-style: none;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
  }
  
  /* estilos para acerca de */
  
  
  .contenedorbiografia {
    
    background-color: rgb(15, 15, 15);
    color:#f8fafc;
    display:grid;
    grid-template-columns:60% 40%;
    grid-gap:20px;
    /* text-align: center; */
    height: 100%;
    width: 100%;
    margin-left: auto;
    padding: 80px;
  }
  .contenedorbiografia .imgbiografia {
    text-align: center;
    padding: 8vh 1vw 2vh
  }
  
  h1 {
    margin-bottom:50px;
  }
  .textobiografia, .clientes {
    padding:5vw 18vw 5vw 3vw;
    text-align: start;
  }
  
  .contenedorbiografia .clienteslogos {
    align-self: end;
    text-align: justify;
    padding-bottom: 8vh;
    
  }

/* header CSS termina*/