<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  </head>
  <body>
    <header id="sectionHeader"></header>
    <div class="stickyDiv"></div>
    <div class="contenedor_biografia fixed-main">
      <div class="texto_biografia">
        <h1 class="observedElement transition-quick1">Biografía</h1>
        <div class="parrafo_bio">
          <h2 class="observedElement transition-delay1">Sobre mí</h2>
          <p class="observedElement transition-delay2">
            ¡Hola!, mi nommbre es JMC y soy de la Ciudad Autónoma de Buenos
            Aires, ubicada en la zona este de la provincia de Buenos Aires,
            Argentina. Estudié diseño 3D en la Academia de Arte 'Vicente van
            Gogh', especializandome en fotografía de retrato y paisajística.
          </p>
          <p class="observedElement transition-delay2">
            Luego de haberme graduado en 1987, gané una beca ofrecida por la
            Universidad Nacional de Arte (UNA) y comencé a trabar en la agencia
            de fotografía Da Vinci, antes de iniciar mi propio emprendimiento 2
            años después y convertirme en un profesional freelance.
          </p>
          <p class="observedElement transition-delay2">
            Mi trabajo a nivel comercial consiste principalmente en fotografías
            e imágenes de retratos para empresas, organizaciones y periódicos, y
            agencias de publicidad. También ofrezco sesiones privadas de
            retratos, tanto en mi estudio como en un entorno natural.
          </p>
          <p class="observedElement transition-delay2">
            También formo parte del dúo de fotógrafos C&K, junto con el
            fotógrafo Daniel Kwonne.
          </p>

          <h2 class="observedElement transition-quick1">
            Exposiciones Individuales
          </h2>
          <ul class="observedElement transition-quick2">
            <li>Fregadero/Nadar</li>
            <li>NP33</li>
            <li>Feria de Fotografía BAFICI 2017/2021</li>
            <li>Galería Pimpollo Piqué</li>
            <li>Espacios Olvidados Museo de Arte Contemporáneo</li>
            <li>Sala de exposiciones Inga Vanheinsensein</li>
            <li>Imaginarte Expo La Rural 2019 y 2020</li>
          </ul>
          <h2 class="observedElement transition-quick1">
            Exposiciones Colectivas
          </h2>
          <ul class="observedElement transition-quick2">
            <li>Galería Axel, Santa Fe 2015</li>
            <li>Galería Contrastes, Malba Recoleta</li>
            <li>El Arte de la Vida, Greenpeace Expo 2017</li>
            <li>Exposición Gremio A.F.P. 2018 - 1er lugar</li>
            <li>Exposición Gremio A.F.P. 2019 y 2020</li>
            <li>Gucci & Pic, Viena 2021</li>
          </ul>
        </div>
      </div>
      <div class="img_biografia">
        <img
          class="observedElement transition-quick1"
          src="../images/1664921225131.jpg"
          alt="Persona con túnica naranja parada con un paraguas bajo un techo mientras llueve"
        />
      </div>

      <div class="clientes">
        <h1 class="observedElement transition-quick2">Clientes</h1>
        <p class="observedElement transition-quick1">
          Agencias de publicidad y marketing de renombre como: Hoopla, Signos,
          Digital Agency JG, Humo Rojo, MEC Argentina, FCB Bs.As., Havas 4D, y
          di Paola Latina.
        </p>
        <p class="observedElement transition-quick1">
          Formé parte del equipo de imágen y fotografía para franquicias
          cinematográficas, entre ellas: Star Wars, Harry Potter, Los
          Vengadores,Spider-Man, James Bond, Rápido y Furioso 20, X-Men, Batman,
          El Señor de los Anillos.
        </p>
        <p class="observedElement transition-quick1">
          Trabajos Free-lance para agencias de viaje: AGY-Travel y Arcadia
          cultural tours
        </p>
      </div>

      <div>
        <h3 class="influencias__title observedElement transition-quick2">Referentes</h3>
        <div class="API-container observedElement transition-quick1">
          <div class="swiper">
            <div class="swiper-wrapper">
              <!-- Slides -->
              
            </div>
            <!-- Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer domFooter"></footer>
    <script src="../js/partials.js"></script>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/iframeResizer.min.js">
      iFrameResize({ log: true }, '#mapa_ubicacion')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script defer src="../js/intObserver.js"></script>
    <script src="../js/swiperJsConfig.js"></script>
    <script src="../js/museumAPI.js"></script>
  </body>
</html>


<!-- <div class="swiper-slide">
  <img src="../images/slider/PH01.jpg" alt="" class="swiper__img" />
  <div class="swiper__desc">
    <h4>Autor: <span>Pepe</span></h4>
    <p>Descripción de la obra: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, quo excepturi facilis eaque, repudiandae quasi eligendi ipsa placeat omnis cumque ex tenetur ullam. Perferendis explicabo libero nemo quisquam ratione? Sed!</p>
  </div>
</div>
<div class="swiper-slide">
  <img src="../images/slider/PH02.jpg" alt="" class="swiper__img" />
</div>
<div class="swiper-slide">
  <img src="../images/slider/PH03.jpg" alt="" class="swiper__img" />
</div> -->