<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  </head>
  <body>
    <header id="sectionHeader">

    </header>
    <div class="stickyDiv"></div>
    <main class="contact-main">
      <div class="contenedor_contacto">
        <div
          class="contacto observedElement__contactPage observedElement--fromLeft"
        >
          <h1>Contacto</h1>
          <p>E-mail: jcipeli@gmail.com</p>
          <br />
          <p>Tel (Argentina): +54 9 11 6555-5555</p>
        </div>
        <form
          class="datos_usuario observedElement__contactPage observedElement--fromRight"
          name="datos_usuario"
          action="https://formsubmit.co/c70753bb21bbc786b76df2d8da5c6732"
          method="POST"
        >
          <div class="datos_usuario1">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" />
          </div>
          <div class="datos_usuario2">
            <label for="apellido"
              >Apellido <input type="text" id="apellido" name="apellido"
            /></label>
          </div>
          <div class="datos_usuario3">
            <label for="e-mail"
              >E-mail <input type="text" id="e-mail" name="email" required
            /></label>
          </div>
          <div class="datos_usuario4">
            <label for="telefono"
              >Telefono <input type="number" name="telefono" required
            /></label>
          </div>
          <div class="datos_usuario5">
            <label for="edad"
              >Edad<input
                type="text"
                id="edad"
                size="4"
                maxlength="4"
                name="edad"
            /></label>
          </div>
          <div class="datos_usuario6"></div>
          <div class="datos_usuario7">
            <textarea
              class="comentarios"
              name="comentarios"
              rows="10"
              cols="45"
            >
Escríbenos un comentario (igual no lo leemos)</textarea
            >
            <textarea
              name="comentarios2"
              class="comentarios2"
              rows="10"
              cols="65"
            >
            Escríbenos un comentario (igual no lo leemos)</textarea
            >
          </div>
          <div class="datos_usuario8">
            <input type="submit" value="Enviar" onclick="validarEnvio()" />
          </div>
        </form>
      </div>
    </main>
    <footer class="footer domFooter">
      
    </footer>
    <script src="../js/partials.js"></script>
    <script src="../js/formulario.js"></script>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../js/intObserver.js"></script>
  </body>
</html>
