<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  </head>
  <body>
    <header id="sectionHeader">

    </header>
    <div class="stickyDiv"></div>
    <main class="contact-main">
      <div class="contenedor_contacto">
        <div class="contacto observedElement__contactPage observedElement--fromLeft">
          <h1>Contacto</h1>
          <p>E-mail: jcipeli@gmail.com</p>
          <br />
          <p>Tel (Argentina): +54 9 11 6555-5555</p>
          <div class="container_ubicacion observedElement transition-quick1">
            <h1 class="clientes">Donde estamos</h1>
            <h3 class="ubicacion observedElement transition-quick1">El Estudio</h3>
            <iframe id="mapa_ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.404539102477!2d-58.37502698476995!3d-34.61921598045549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2b4322b1c7%3A0x77563cc08940dd3b!2sBol%C3%ADvar%20962%2C%20C1066%20AAT%2C%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1666653393303!5m2!1sen!2sar" width="410" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">/></iframe> 
          </div>
        </div>
        <form
          class="datos_usuario observedElement__contactPage observedElement--fromRight"
          name="datos_usuario"
          action="https://formsubmit.co/c70753bb21bbc786b76df2d8da5c6732"
          method="POST"
        >
          <div class="datos_usuario1">
            <label for="nombre">Nombre<input type="text" id="nombre" name="nombre"/></label>
          </div>
          <div class="datos_usuario2">
            <label for="apellido"
              >Apellido <input type="text" id="apellido" name="apellido"
            /></label>
          </div>
          <div class="datos_usuario3">
            <label for="e-mail"
              >E-mail <br><input type="text" id="e-mail" name="email" required
            /></label>
          </div>
          <div class="datos_usuario4">
            <label for="telefono"
              >Telefono <input type="number" name="telefono" required
            /></label>
          </div>
          <div class="datos_usuario5">
            <label for="edad"
              >Edad<input
                type="text"
                id="edad"
                size="4"
                maxlength="4"
                name="edad"
            /></label>
          </div>
          <div class="datos_usuario6"></div>
          <div class="datos_usuario7">
            <textarea
              class="comentarios"
              name="comentarios"
              rows="10"
              cols="45"
            >
Escríbenos un comentario (igual no lo leemos)</textarea
            >
            <textarea
              name="comentarios2"
              class="comentarios2"
              rows="10"
              cols="65"
            >
            Escríbenos un comentario (igual no lo leemos)</textarea
            >
          </div>
          <div class="datos_usuario8">
            <input type="submit" value="Enviar" onclick="validarEnvio()" />
          </div>
        </form>
      </div>
    </main>
    <footer class="footer domFooter">
      
    </footer>
    <script src="../js/partials.js"></script>
    <script src="../js/formulario.js"></script>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/iframeResizer.min.js">
      iFrameResize({ log: true }, '#mapa_ubicacion')
    </script>
    <script defer src="../js/intObserver.js"></script>
  </body>
</html>
