<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Contact</title>
  </head>
  <body>
    <header>
      <nav class="observedNav">
        <ul class="menu1">
          <li>X.X.X.</li>
          <a href="../index.html"
            ><img
              src="../images/Argentina_2.svg"
              alt="logo skyteam"
              width="35px"
          /></a>
        </ul>
        <ul class="menu2">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="">Galeria </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="galleryretratos.html"
                  >Retratos</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Paisajes</a></li>
              <li>
                <a class="dropdown-item" href="galleryvidamarina.html"
                  >Vida Marina</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="acercade.html">Acerca de</a>
          </li>
          <li>
            <a href="contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="stickyDiv"></div>
    <main class="contact-main">
      <div class="contenedor_contacto">
        <div
          class="contacto observedElement__contactPage observedElement--fromLeft"
        >
          <h1>Contacto</h1>
          <p>E-mail: jcipeli@gmail.com</p>
          <br />
          <p>Tel (Argentina): +54 9 11 6555-5555</p>
        </div>
        <form
          class="datos_usuario observedElement__contactPage observedElement--fromRight"
          name="datos_usuario"
          action="https://formsubmit.co/c70753bb21bbc786b76df2d8da5c6732"
          method="POST"
        >
          <div class="datos_usuario1">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" />
          </div>
          <div class="datos_usuario2">
            <label for="apellido"
              >Apellido <input type="text" id="apellido" name="apellido"
            /></label>
          </div>
          <div class="datos_usuario3">
            <label for="e-mail"
              >E-mail <input type="text" id="e-mail" name="email" required
            /></label>
          </div>
          <div class="datos_usuario4">
            <label for="telefono"
              >Telefono <input type="number" name="telefono" required
            /></label>
          </div>
          <div class="datos_usuario5">
            <label for="edad"
              >Edad<input
                type="text"
                id="edad"
                size="4"
                maxlength="4"
                name="edad"
            /></label>
          </div>
          <div class="datos_usuario6"></div>
          <div class="datos_usuario7">
            <textarea
              class="comentarios"
              name="comentarios"
              rows="10"
              cols="45"
            >
Escríbenos un comentario (igual no lo leemos)</textarea
            >
            <textarea
              name="comentarios2"
              class="comentarios2"
              rows="10"
              cols="65"
            >
            Escríbenos un comentario (igual no lo leemos)</textarea
            >
          </div>
          <div class="datos_usuario8">
            <input type="submit" value="Enviar" onclick="validarEnvio()" />
          </div>
        </form>
      </div>
    </main>
    <footer class="footer">
      <div
        class="newsletter observedElement__contactPage observedElement--fromLeft"
      >
        <p>SUSCRIBITE A MI NEWSLETTER</p>
        <p>
          Enterate de las últimas noticias, eventos programados, servicios y
          ofertas especiales
        </p>
        <a class="btn-anchor" href="contacto.html">Contactame</a>
      </div>
      <div
        class="footer-contact observedElement__contactPage observedElement--fromRight"
      >
        <div class="footer-data">
          <p class="footer-data__item">Julian Marcos Cipelli</p>
          <p class="footer-data__item">Buenos Aires, Argentina</p>
        </div>
        <div class="footer-socials">
          <div class="footer-socials__pinterest">
            <a
              href="https://pinterest.com/"
              target="_blank"
              class="socials__anchor"
              ><i class="fa-brands fa-pinterest"></i
            ></a>
          </div>
          <div class="footer-socials__instagram">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="socials__anchor"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>
          © JMC 2022. Todo el contenido de este sitio está sujeto a derechos de
          autor. En caso de compartir los recursos hacerlo de manera responsable
          y no obviar hacer mención de la fuente de autoría.
        </p>
      </div>
    </footer>
    <script src="../js/formulario.js"></script>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../js/intObserver.js"></script>
  </body>
</html>
