<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />

    <title>Gallery || Sea Life</title>
  </head>

  <body>
    <header id="sectionHeader">
      <nav class="observedNav">
        <ul class="menu1">
          <li>X.X.X.</li>
          <a href="../index.html"
            ><img
              src="../images/Argentina_2.svg"
              alt="logo skyteam"
              width="35px"
          /></a>
        </ul>
        <ul class="menu2">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="#">Galeria </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="galleryretratos.html"
                  >Retratos</a
                >
              </li>
              <li><a class="dropdown-item" href="#">Paisajes</a></li>
              <li>
                <a class="dropdown-item" href="galleryvidamarina.html"
                  >Vida Marina</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="acercade.html">Acerca de</a>
          </li>
          <li>
            <a href="contacto.html">Contacto</a>
          </li>
        </ul>
        </nav>
    </header>
    <main class="fixed-main">
      <div class="stickyDiv"></div>
      <div class="gallery">
        <div class="gallery__container"></div>
      </div>
      <div class="modal__container">
        <img class="modalImage" src="../images/seaLife/coral.jpg" alt="" />
      </div>
    </main>
    <footer class="footer domFooter">
    </footer>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/partials.js"></script>
    <script src="../js/galleryDOM.js"></script>
    <script src="../js/galleryModal.js"></script>
    <script defer src="../js/intObserver.js"></script>
  </body>
</html>
