<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Gallery || Portraits</title>
</head>

<body>
    <header id="idHeader">   
    </header>
    <main>
        <div class="stickyDiv"></div>
        <div class="gallery-retratos">
            <div class="gallery-container-retratos">
                <img src="../images/Retratos/r1.JPG" alt="" class="img1 gallery-img">
                <img src="../images/Retratos/r2.JPG" alt="" class="img2 gallery-img">
                <img src="../images/Retratos/r3.jpg" alt="" class="img3 gallery-img">
                <img src="../images/Retratos/r4.jpg" alt="" class="img4 gallery-img">
                <img src="../images/Retratos/r5.JPG" alt="" class="img5 gallery-img">
                <img src="../images/Retratos/r6.jpg" alt="" class="img6 gallery-img">
                <img src="../images/Retratos/r7.JPG" alt="" class="img7 gallery-img">
                <img src="../images/Retratos/r8.JPG" alt="" class="img8 gallery-img">
                <img src="../images/Retratos/r9.JPG" alt="" class="img9 gallery-img">
            </div>
        </div>
    </main>
    <footer id="idFooter" class="footer">    
    </footer>
    <script src="../js/index.js"></script>
    <script src="https://kit.fontawesome.com/0e67ccfcb0.js" crossorigin="anonymous"></script>
    <script defer src="../js/intObserver.js"></script>
</body>

</html>