<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Gallery || Portraits</title>
</head>

<body>
    <header>
        <nav class="observedNav">
            <ul class="menu1">
                <li>X.X.X.</li> <!-- Este xxx y el logoes representativo -->
                <a href="../index.html"><img src="../images/Argentina_2.svg" alt="logo" width="35px"></a>
            </ul>
            <ul class="menu2">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="">Galeria</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="galleryretratos.html">Retratos</a></li>
                        <li><a class="dropdown-item" href="#">Paisajes</a></li>
                        <li><a class="dropdown-item" href="galleryvidamarina.html">Vida marina</a></li>
                    </ul>
                </li>

                <li>
                    <a href="acercade.html">Acerca de</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>

        </nav>
    </header>
    <main class="fixed-main">
        <div class="stickyDiv"></div>
        <div class="gallery-retratos">
            <div class="gallery-container-retratos">
                <div class="img1 gallery-img__container observedImage">
                    <img src="../images/Retratos/r1.JPG" alt="" class="gallery-img">
                </div>
                <div class="img2 gallery-img__container observedImage">
                    <img src="../images/Retratos/r2.JPG" alt="" class="img2 gallery-img">
                </div>
                <div class="img3 gallery-img__container observedImage">
                    <img src="../images/Retratos/r3.jpg" alt="" class="img3 gallery-img">
                </div>
                <div class="img4 gallery-img__container observedImage">
                    <img src="../images/Retratos/r4.jpg" alt="" class="img4 gallery-img">
                </div>
                <div class="img5 gallery-img__container observedImage">
                    <img src="../images/Retratos/r5.JPG" alt="" class="img5 gallery-img">
                </div>
                <div class="img6 gallery-img__container observedImage">
                    <img src="../images/Retratos/r6.jpg" alt="" class="img6 gallery-img">
                </div>
                <div class="img7 gallery-img__container observedImage">
                    <img src="../images/Retratos/r7.JPG" alt="" class="img7 gallery-img">
                </div>
                <div class="img8 gallery-img__container observedImage">
                    <img src="../images/Retratos/r8.JPG" alt="" class="img8 gallery-img">
                </div>
                <div class="img9 gallery-img__container observedImage">
                    <img src="../images/Retratos/r9.JPG" alt="" class="img9 gallery-img">
                </div>
            </div>
        </div>
        <div class="modal__container">
            <img class="modalImage --objFit-contain" src="../images/seaLife/coral.jpg" alt="" />
          </div>
    </main>
    <footer id="idFooter" class="footer">    
    </footer>
    <script src="https://kit.fontawesome.com/0e67ccfcb0.js" crossorigin="anonymous"></script>
    <script src="../js/galleryModal.js"></script>
    <script defer src="../js/intObserver.js"></script>
</body>

</html>