<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />

    <title>Gallery || Sea Life</title>
  </head>

  <body>
    <header id="sectionHeader">

    </header>
    <main class="fixed-main">
      <div class="stickyDiv"></div>
      <div class="gallery">
        <div class="gallery__container"></div>
      </div>
      <div class="modal__container">
        <img class="modalImage" src="../images/seaLife/coral.jpg" alt="" />
      </div>
    </main>
    <footer class="footer domFooter">
    </footer>
    <script
      src="https://kit.fontawesome.com/0e67ccfcb0.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/partials.js"></script>
    <script src="../js/galleryDOM.js"></script>
    <script src="../js/galleryModal.js"></script>
    <script defer src="../js/intObserver.js"></script>
  </body>
</html>
