@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-encontranos {
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.footer-encontranos__icon,
.footer-encontranos__title,
.footer-social__desc {
    color: #6E6E64;
}

.footer-encontranos__content a {
    text-decoration: none;
    margin: 0px 20px;
}

.footer-encontranos__title {
    text-transform: uppercase;
    margin: 0px 0px 20px;
    font-weight: bold;
}

.footer-encontranos__icon {
    font-size: 20px;
}

.footer-subscribe h4 {
    width:35%;
}

.footer-subscribe__p {
    background-color: #FFF;
    padding: 3px;
}

.footer-subscribe__button {
    text-decoration: none;
    color:#396FA5 ;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}


.footer-social__icon,
.footer-inst__title,
.footer-social__header-icon,
.footer-social__title,
.footer-inst__icon {
    color:#396FA5;
}

.footer-subscribe{
    background-color: #396FA5;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 82px;
    border-radius: 20px 20px 0px 0px;
}

.footer-anclas {
    background-color: #396FA5;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.footer-anclas__title,
.footer-anclas__subtitle {
    text-align: center;
}

.footer-inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    padding: 20px 0px;
}

.footer-social,
.footer- {
    background-color: #F7F7F7;
}

.footer-social {
    padding: 30px 30px 30px 10px;
}

.footer-social .fa-solid,
.footer-social .fa-brands {
    font-size: 26px;
    margin-right: 8px ;
}

.fa-envelope {
    font-size: 24px;
}

.footer-social__name {
    font-weight: bold;
    color: #396FA5;
}

.footer-social__title {
    display: inline-block;
}

.footer-social__contact,
.footer-social__header {
    display: flex;
    align-items: center;
}

.footer-social__desc {
    letter-spacing: 1px;
    font-size: 20px;
}

.footer-social__contact div {
    display: inline-block;
    padding: 20px 0px;
}

.footer-inst__links {
    display: none;
    padding-left: 0px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin: 8px 0px;
}

.footer-anclas__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-anclas__column {
    text-align: center;
    height: 200px;
}

.footer-anclas__column a {
    text-decoration: none;
    color: #FFF;
}

.footer-anclas__column h4 {
    text-decoration: underline;
}

.footer-legals {
    background-color: #F7F7F7;
    text-align: center;
    padding: 20px 0px;
}

.footer-legals p {
    color: #6E6E64;
    font-size: 12px;
}

.legalesYCondiciones {
    color: #396FA5;
    font-weight: bold;
}

.footer-legals p.copyright {
    font-size: 10px;
    font-weight: bold;
}

.footer-legals a {
    text-decoration: none;
    color: rgb(57, 111, 165);
}

.footer-legals__icon div img {
    width: 100%;
}

.footer-anclas__column {
    padding: 15px 0px;
}
.footer-anclas__title,
.footer-anclas__column-title {
    padding: 20px 0px;
}

.footer-legals__icons {
    text-align: center;
}

.footer-legals__icon1 {
    display: inline-block;
}

.footer-legals__icon1 img {
    width: 200px;
}

.footer-legals__icon2 {
    display: inline-block;
}

.footer-legals__icon2 img {
    width: 50px;
}

@media screen and (min-width:992px) {
    .footer-social__content {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-inst-social__container {
        display: flex;
    }
    .footer-inst {
        width: 50%;
        justify-content: center;
    }
    .footer-inst__links {
        display: block;
    }
    .footer-anclas__column {
        margin: 0px 25px
    }
    .footer-anclas {
        align-items: normal;
    }
    .footer-anclas__content {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: 0px auto;
    }
}